@use "../base/breakpoints" as *;

@mixin hide {
  display: none;

  @include sm {
    display: block;
  }
}

.navigation {
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 1000;

  color: transparent;

  &__container {
    padding: 10px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    img {
      width: 60px;

      @include sm {
        width: 82px;
      }
      cursor: default;
    }

    #menuBtn {
      display: block;
      padding: 10px;

      @include sm {
        display: none;
      }

      color: #fff;
      font-size: 32px;
    }

    #navigation__list-desktop {
      @include hide;
    }

    #reservationBtn {
      @include hide;
    }

    #navigation__list-mobile {
      ul {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;

        position: absolute;
        top: 70px;
        right: 10px;

        background-color: #fff;
        border-radius: 5px;
        padding: 10px;

        li {
          height: 44px;

          a {
            color: #000;
            padding: 9px;
            line-height: 44px;
          }
        }
      }
    }

    .navigation__list-mobile--hide {
      display: none;
    }
  }
}

.navigation-onScroll {
  background-color: rgb(30, 30, 30, 0.8);
  transition: background-color 200ms linear;
}

nav {
  a {
    color: #fff;
    font-size: 20px;
    font-weight: 400;
    padding: 10px;

    text-decoration: none;

    &:hover {
      border-bottom: 2px solid #f3d382;
    }
  }
}
